DATABASE_TYPE=mysql
MYSQL_USERNAME=root
MYSQL_PASSWORD=test
MYSQL_DATABASE=charging
MYSQL_HOST=localhost
MYSQL_PORT=3306
REDIS_HOST=localhost
REDIS_PORT=6378
REDIS_PASSWORD=
AWS_REGION=eu-west-1
PORT=3001
